<main class="">
    <div class="container background-container">
        <div class="principal">
            <div class="location roboto-700">
                <h1>Error, city not found</h1>
            </div>
        <div>
    </div>
</main>